<nz-card nzTitle="Danh sách sinh viên">

  <nz-table #data [nzData]="studentList" [nzBordered]="true" [nzPageSize]="3">

    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Action</th>

      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let s of data.data"
        (click)="onRowClick(s)"
        class="table-row"
        [class.selected-row]="isSelected(s)"
      >
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.gender }}</td>
        <td>{{ s.email }}</td>

        <td (click)="$event.stopPropagation()">
          <button nz-button nzType="link" (click)="onRowClick(s)">Edit</button>
          
        </td>

      </tr>
    </tbody>

  </nz-table>
<!-- 
  bottom buttons
  <div style="text-align: right; margin-top: 16px;">
    <button nz-button>Cancel</button>
    <button nz-button nzType="primary" style="margin-left: 8px;">
      Submit
    </button>
  </div> -->

</nz-card>
