<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Demo Project</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item 
              routerLink="/students" 
              routerLinkActive="ant-menu-item-selected" 
              [routerLinkActiveOptions]="{ exact: true }">
            <a>Student list</a>
          </li>

          <li nz-menu-item 
              routerLink="/students/student-add" 
              routerLinkActive="ant-menu-item-selected">
            <a>Add student</a>
          </li>

          <li nz-menu-item 
              routerLink="/form-builder" 
              routerLinkActive="ant-menu-item-selected">
            <a>Form Builder</a>
          </li>

          <li nz-menu-item 
              routerLink="/students/dynamic-form" 
              routerLinkActive="ant-menu-item-selected">
            <a>Dynamic Form</a>
          </li>
          
            </ul>
        </li>
     
    </ul>
  </nz-sider>
  
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>


    <nz-footer class="app-footer">
       Demo Project ©2026
     <span nz-icon nzType="code" style="color: red; margin-bottom: 1px;" ></span>
    </nz-footer>
  </nz-layout>
  
</nz-layout>
