<h1 class="header"> {{ configRoot.title }} </h1>
<form nz-form *ngIf="form" [formGroup]="form" nzLayout="vertical">

  <ng-container *ngFor="let group of configRoot.groups">
    <nz-card
    [nzTitle]="group.title" 
    [nzBordered]="false" 
    [nzBodyStyle]="{ 'background-color': '#ffffff' }"
    style="margin-bottom: 16px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);">
    
     <div nz-row [nzGutter]="group.layout?.gutter || 8">
        <ng-container *ngFor="let field of group.fields">
          <div
            nz-col
            [nzSpan]="field.colSpan || (24 / (group.layout?.columns || 2))"
            *ngIf="field.visible"
          >
            <nz-form-item>

              <nz-form-label [nzRequired]="getRequiredValidator(field)">
                {{ field.label }}
              </nz-form-label>

              <nz-form-control [nzErrorTip]="(name(field.key)?.touched || name(field.key)?.dirty) ? getErrorMessage(field.key) : ''">
                <!-- INPUT -->
                <input
                  *ngIf="field.type === 'input'"
                  nz-input
                  [formControlName]="field.key"
                  [placeholder]="field.placeholder"
                />

                <input
                  *ngIf="field.type === 'number'"
                  nz-input
                  type="number"
                  [formControlName]="field.key"
                  [placeholder]="field.placeholder">
                
                 <input *ngIf="field.type === 'date'" nz-input 
                   [formControlName]="field.key" 
                   type="date">

                <!-- SELECT -->
                <nz-select
                  *ngIf="field.type === 'select'"
                  [formControlName]="field.key"
                  [nzPlaceHolder]="field.placeholder"
                  [nzLoading]="field.loading"
                  (nzOpenChange)="onSelectOpen(field)"
                  nzAllowClear
                >
                  <nz-option
                    *ngFor="let opt of field.options"
                    [nzLabel]="opt.label"
                    [nzValue]="opt.value"
                  ></nz-option>
                </nz-select>

              </nz-form-control>

            </nz-form-item>
          </div>

        </ng-container>

      </div>

      <!-- group actions -->
     <div style="text-align: right;">
        <button
          *ngFor="let action of group.groupActions"
          nz-button
          [nzType]="action.style || 'default'"
          (click)="onGroupAction(action, group)"
          style="margin-left: 8px;">
          <span nz-icon [nzType]="action.icon"></span>
          {{ action.label }}
        </button>
    </div>

    </nz-card>

  </ng-container>

  <!-- global submit -->
  <div style="text-align: right;">
    <button nz-button nzType="primary" (click)="onSubmit()">
      Submit All
    </button>
  </div>

</form>