/* You can add global styles to this file, and also import other style files */


body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* .anticon {
  display: inline-flex !important;
  align-items: center !important;
  line-height: 1 !important;
}

button[nz-button] {
  display: inline-flex !important;
  align-items: center !important;
} */

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}




@media (max-width: 576px) {
  .button-group {
    flex-direction: column;
  }
}



.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


nz-content {
  flex: 1;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

.inner-content {
  margin: 0px;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  flex: 1; 
  height: 100%;
  min-height: min-content; 
}


.button-group {
  display: flex;
  gap: 12px; 
  margin-top: 20px;
}
@media (max-width: 576px) {
  .inner-content {
    margin: 12px; 
    padding: 16px;
  }
  
  .button-group {
    flex-direction: column;
  }
}